services:
  mail-pipeline:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mail-pipeline
    restart: always
    volumes:
      # Used to inject files in builtins, like .env files
      - ./builtins:/app/builtins_inject
      - ./plugins:/app/plugins
      - ./.env:/app/.env
      - plugin_envs:/app/plugin_envs
      - builtin_envs:/app/builtin_envs
      - attachments:/app/attachments
      - state:/app/state
    environment:
      - INTERVAL=43200
      - PYTHONPATH=/app/src
    command: >
      /bin/bash -c "./setup.sh && while true; do
        python src/email_pipeline/main.py;
        echo \"Sleeping for $${INTERVAL} seconds...\";
        sleep $${INTERVAL};
      done"

volumes:
  plugin_envs:
  builtin_envs:
  attachments:
  state:
